[submodule "TStick-idf/components/arduino-esp32"]
	path = TStick-idf/components/arduino-esp32
	url = https://github.com/mathiasbredholt/arduino-esp32.git
	branch = idf-release/v4.0
[submodule "TStick-idf/components/libmapper-esp"]
	path = TStick-idf/components/libmapper-esp
	url = https://github.com/mathiasbredholt/libmapper-esp.git
[submodule "TStick-idf/components/TStick-arduino-libraries"]
	path = TStick-idf/components/TStick-arduino-libraries
	url = https://github.com/IDMIL/TStick-arduino-libraries.git
