[submodule "TStick-idf/components/arduino-esp32"]
	path = TStick-idf/components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "TStick-idf/components/arduino-libraries/WiFi32Manager"]
	path = TStick-idf/components/arduino-libraries/WiFi32Manager
	url = https://github.com/mathiasbredholt/WiFi32Manager.git
[submodule "TStick-idf/components/arduino-libraries/Adafruit_LSM9DS1"]
	path = TStick-idf/components/arduino-libraries/Adafruit_LSM9DS1
	url = https://github.com/adafruit/Adafruit_LSM9DS1.git
[submodule "TStick-idf/components/arduino-libraries/ArduinoJson"]
	path = TStick-idf/components/arduino-libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "TStick-idf/components/arduino-libraries/OSC"]
	path = TStick-idf/components/arduino-libraries/OSC
	url = https://github.com/CNMAT/OSC
[submodule "TStick-idf/components/arduino-libraries/MIMU"]
	path = TStick-idf/components/arduino-libraries/MIMU
	url = https://github.com/DocSunset/MIMU
[submodule "TStick-idf/components/arduino-libraries/Eigen"]
	path = TStick-idf/components/arduino-libraries/Eigen
	url = https://github.com/bolderflight/Eigen
[submodule "TStick-idf/components/arduino-libraries/Adafruit_LIS3MDL"]
	path = TStick-idf/components/arduino-libraries/Adafruit_LIS3MDL
	url = https://github.com/adafruit/Adafruit_LIS3MDL
[submodule "TStick-idf/components/arduino-libraries/Adafruit_Sensor"]
	path = TStick-idf/components/arduino-libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "TStick-idf/Adafruit_BusIO"]
	path = Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "TStick-idf/components/arduino-libraries/Adafruit_BusIO"]
	path = TStick-idf/components/arduino-libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "TStick-idf/components/arduino-libraries/SparkFun_LSM9DS1_Arduino_Library"]
	path = TStick-idf/components/arduino-libraries/SparkFun_LSM9DS1_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_LSM9DS1_Arduino_Library.git
[submodule "TStick-idf/external/libmapper_idf"]
	path = TStick-idf/external/libmapper_idf/
	url = https://github.com/mathiasbredholt/libmapper_idf.git
